html, body {
  font-size: 16px;
  font-family: 'Permanent Marker', cursive;
}
/* Navbar */
.navbar {
  margin-top: 0;
  padding: 1rem 3rem;
}

.navbar-brand {
  padding-left: 0;
  padding-bottom: 0;
  /*padding-top: .8rem;*/
  height: auto;
  color: #fff;
  font-size: 2.75rem;
  letter-spacing: 3px;
}

.navbar-right {
  margin-right: 0;
}

.fa-bars {
    color: #015FA3;
    font-size: 1rem;
    padding: 0;
}

.navbar-default .navbar-toggle {
    padding: .15rem .35rem;
    margin-top: .7rem;
    border: none;
}

.navbar-collapse {
    background-color: none;
}

.navbar-default {
  background-color: rgba(255,255,255,0.95);
  border: none;
  margin: 0;
  z-index: 9999;
}

.navbar-default .navbar-brand {
  color: #e11948;
  font-size: 2rem;
  padding: 0 0 .5rem 0;
  margin: 0;
}

.navbar-default .navbar-brand:hover {
  color: #e11948;
}

.navbar-default .navbar-nav > li > a {
  color: #e11948;
  font-size: 1rem;
  letter-spacing: 3px;
  padding: .25rem 0 0 0;
  margin-left: 2rem;

}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #e11948;
}

/* navbar-transparent */
.navbar-transparent {
  background-color: transparent;
  border: none;
  padding-top: 1.5rem;
}

.navbar-transparent .navbar-brand:hover {
  color: #fff;
}

.navbar-transparent .fa-bars {
    color: #fff;
    font-size: 1.25rem;
}

.navbar-transparent .navbar-nav > li > a {
  color: #fff;
  font-size: 1.15rem;
  letter-spacing: 3px;
  margin-left: 2rem;
  padding-left: 0;
  padding-right: 0;
  padding-top: 1rem;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.navbar-transparent .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background: transparent;
}


/* Hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
    text-align: center;
    background: #e11948;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, .35);
    opacity: 1;
}

.hero h1 {
  color: #fff;
  font-size: 5rem;
  font-weight: bold;
  padding-top: 4rem;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  letter-spacing: 6px;
}

.hero p {
  color: #fff;
  font-size: 1.65rem;
  letter-spacing: 2px;
  width: 70%;
  margin: 1rem auto;
}

/* Headings */

.section-heading {
  margin-top: 0px;
  padding-bottom: 0;
  font-size: 4rem;
  line-height: 36px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

/* Dividers */

.divider-section.first-divider {
  margin-top: 0;
  padding: 3rem 0;
  height: 10rem;
  background-image: url('../assets/laptop3.jpeg');
  background-position: top;
  background-size: cover;
  background-repeat: repeat, no-repeat;
  background-attachment: fixed;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .35);
}

/* Projects */
.projects-section {
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 0;
  padding-right: 0;
  background-color: #fff;
  color: #000000;
}

.projects-row {
  margin: 8rem 0;
  padding: 2rem 1rem;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.projects-heading {

}

.projects-content-box {
  width: 90%;
}

.project-title {
  display: block;
  color: #e11948;
  font-size: 3rem;
  line-height: 40px;
  letter-spacing: 3px;
  margin-top: 0px;
  margin-bottom: 1rem;
}

.projects-paragraph {
  font-size: 1.25rem;
  line-height: 33px;
  letter-spacing: .5px;
  font-family: 'Georgia', serif;
}

.tech-title {
  display: block;
  color: #000;
  font-size: 1.75rem;
  letter-spacing: 3px;
  margin-top: .75rem;
  margin-bottom: .5rem;
  /*margin-bottom: .5rem;*/
}

.tech-used {
  font-size: 1.1rem;
  line-height: 33px;
  letter-spacing: .5px;
  font-family: 'Georgia', serif;
}

/* About */
.about-section {
  background-color: #059DBF;
  padding-top: 6rem;
  /*padding-bottom: 6rem;*/
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.about-container {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.story-row {
    text-align: left;
    margin: 0 auto;
    font-size: 1.5rem;
    font-family: 'PT Serif', serif;
    letter-spacing: .58px;
    line-height: 2.5rem;
    padding-top: 8rem;
}

.story-paragraph {
}

.about-row {
    text-align: left;
    width: 65%;
    margin: 0 auto;
    font-size: 1.35rem;
    font-family: 'PT Serif', serif;
    letter-spacing: .58px;
    line-height: 2.6rem;
}

.why-line {
  display: block;
  margin-top: 8rem;
  margin-bottom: 6rem;
  font-size: 2.5rem;
  font-family: 'Permanent Marker', cursive;
}

.about-paragraph {
  margin-bottom: 3rem;
  font-weight: lighter;
}

.image {
  height: 10rem;
  background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-image: url('../assets/running.jpg');
}

/* Contact */
.contact-section {
  color: #000000;
  width: 100%;
  margin: 0;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #f9f9f9;
}

.contact-row {
  display: flex;
  justify-content: center;
  padding: 6rem 0 2rem 0;
}

.contact-row img {
  height: 150px;
}

.contact-text {
  display: flex;
  /*align-items: center;*/
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}

.learn-more {
  font-size: 2rem;
  padding-bottom: .25rem;
  color: #e11948;
  letter-spacing: 2px;
}

.social-icons {
  display: flex;
  justify-content: center;
  /*padding: 6rem 0;*/
}

.resume {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding-top: 2rem;
  /*padding: 6rem 0;*/
}

#contact .fa {
  paddin÷g-top: 3rem;
  paddin÷g-bottom: 1rem;
  padding-right: 1.5rem;
  font-size: 1.5rem;
  color: #000;
}

#contact a {
  text-decoration: none;
  color: #333;
}

#contact .fa:hover {
  color: #e11948;
}

/* Footer */
#footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: black;
  width: 100%;
  font-size: .85rem;
}

.footer-row {
  width: 80%;
  margin: 0 auto;
}

.footer-logo {
  font-size: 2.5rem;
  color: #fff;
  margin: 0;
}

.footer-nav {
  text-align: left;
  margin: 0;
  font-size: .85rem;
  padding-top: .5rem;
}

.footer-nav ul {
  padding: 0;
}

.footer-nav ul li {
  list-style: none;
  padding: 0;
  display: inline-block;
}

.footer-nav ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 1.65;
  font-size: 1rem;
  text-transform: uppercase;
  padding-right: 1rem;
}

.footer-nav ul li a:hover {
  color: #e11948;
}

#social {
  padding-top: .5rem;
  text-align: center;
}

#social a {
  text-decoration: none;
  color: #fff;
  /*opacity: .8;*/
  line-height: 3;
  padding-right: .75rem;
  margin-top: 3rem;
}

#social a:hover {
  color: #e11948;
}


#copyright {
  text-align: center;
  padding-top: 2rem;
}

/* Mobile */

@media only screen and (max-width: 767px) {

    /* Nav */

    .navbar-brand .transparent-logo {
      height: 2rem;
    }

    .navbar-default {
      background-color: rgb(255,255,255);
    }

    /* Hero */

    .hero {
        /*background-size: center;*/
        background-position: 60%;
        background-attachment: scroll;
        background-image: -webkit-linear-gradient(270deg, rgba(1, 95, 163, .6), rgba(1, 95, 163, .6)), -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../assets/hero2.jpg');
        background-image: linear-gradient(180deg, rgba(1, 95, 163, .6), rgba(1, 95, 163, .6)), linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../assets/hero2.jpg');
        box-shadow: 0 4px 0px 0 rgba(0, 0, 0, .35);
    }

    .hero h1 {
      font-size: 2rem;
      letter-spacing: 1px;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }

    .hero p {
      font-size: 1rem;
      font-style: italic;
      font-weight: 600;
      letter-spacing: 1px;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }

    /* Headings */

    .emphasis-text-about {
      width: 100%;
    }

    .emphasis-text-row {
        width: 100%;
    }

    #about .section-preheading {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    #services .section-preheading {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    /* Dividers */
    .divider-section {
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-attachment: scroll;
      box-shadow: 0 1px 0px 0 rgba(0, 0, 0, .35);
    }

    .divider-section:hover {
      box-shadow: 0 1px 0px 0 rgba(0, 0, 0, .35);
    }

    .divider-section.first-divider {
      margin-top: 0;
      padding: 3rem 0;
      background-image: -webkit-linear-gradient(270deg, rgba(1, 95, 163, .8), rgba(1, 95, 163, .8)), url('../assets/family1.jpg');
      background-image: linear-gradient(180deg, rgba(1, 95, 163, .8), rgba(1, 95, 163, .8)), url('../assets/family1.jpg');
      background-position: 0px 0px, 0px 0px;
      background-size: auto, cover;
      background-repeat: repeat, no-repeat;
      background-attachment: scroll;
      box-shadow: 0 1px 0px 0 rgba(0, 0, 0, .35);
    }

    .divider-section.second-divider {
      padding: 3rem 0;
      background-image: -webkit-linear-gradient(270deg, rgba(1, 95, 163, .8), rgba(1, 95, 163, .8)), url('../assets/ipad.jpg');
      background-image: linear-gradient(180deg, rgba(1, 95, 163, .8), rgba(1, 95, 163, .8)), url('../assets/ipad.jpg');
      background-position: 0px 0px, 0px 0px;
      background-size: auto, cover;
      background-repeat: repeat, no-repeat;
      background-attachment: scroll;
      box-shadow: 0 1px 0px 0 rgba(0, 0, 0, .35);
    }

    .divider-section.third-divider {
      padding: 3rem 0;
      background-size: cover;
      background-image: -webkit-linear-gradient(270deg, rgba(1, 95, 163, .8), rgba(1, 95, 163, .8)), url('../assets/team.jpg');
      background-image: linear-gradient(180deg, rgba(1, 95, 163, .8), rgba(1, 95, 163, .8)), url('../assets/team.jpg');
      background-position: 45%;
      background-repeat: repeat, no-repeat;
      background-attachment: scroll;
      box-shadow: 0 1px 0px 0 rgba(0, 0, 0, .35);
    }

    .divider-section.fourth {
      padding: 3rem 0;
      background-image: -webkit-linear-gradient(270deg, rgba(1, 95, 163, .8), rgba(1, 95, 163, .8)), url('../assets/retiredcar.jpeg');
      background-image: linear-gradient(180deg, rgba(1, 95, 163, .8), rgba(1, 95, 163, .8)), url('../assets/retiredcar.jpeg');
      background-position: 0px 0px, 0px 0px;
      background-size: auto, cover;
      background-repeat: repeat, no-repeat;
      background-attachment: scroll;
      box-shadow: 0 1px 0px 0 rgba(0, 0, 0, .35);
    }

    .divider-section.final-divider {
      padding: 1.5rem 0;
      background-image: -webkit-linear-gradient(270deg, rgba(1, 95, 163, .8), rgba(1, 95, 163, .8)), url('../assets/flowers2.jpg');
      background-image: linear-gradient(180deg, rgba(1, 95, 163, .8), rgba(1, 95, 163, .8)), url('../assets/flowers2.jpg');
      background-position: 40%;
      background-size: auto, cover;
      background-repeat: repeat, no-repeat;
      background-attachment: scroll;
      box-shadow: 0 1px 0px 0 rgba(0, 0, 0, .35);
    }

    .divider-section:hover {
      box-shadow: 0 1px 0px 0 rgba(0, 0, 0, .35);
    }

    .divider-heading-last {
      color: #F44A66;
    }

    /* About */

    .about-section {
        padding: 0;
        box-shadow: none;
    }

    .about-container {
        padding: 4rem 0 4rem 0;
        box-shadow: none;
        width: 100%;
    }

    /* Services */

    .services-section {
        padding: 4rem 0 4rem 0;
    }

    .services-div-block {
        margin-top: 1.5rem;
        padding: 0;
        min-height: 256px;
    }

    .services-div-block:hover {
      box-shadow: 0 1px 0px 0 rgba(0, 0, 0, .35);
    }

    .technology-section {
        padding: 0;
    }

    .technology-heading {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .tech-features {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      padding: 0 0 2rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .emoney-image {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .tech-feature-h4 {
        text-align: center;
        font-size: 1.5rem;
    }

    /* Process */

    .process-section {
        padding: 4rem 0 0 0;
    }

    .process-row {
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .35);
    }

    .process-row:hover {
      box-shadow: 0 1px 0px 0 rgba(0, 0, 0, .33);
    }

    .process-content-box {
        text-align: center;
    }

    .process-heading {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .process-row img {
        display: none;
    }

    /* Team */

    .team-section {
        width: 100%;
      padding: 0;
      background-color: #f9f9f9;
      border: none;
      transform: none;
    }

    .container.team {
        width: 100%;
      padding: 4rem  0 2rem 0;
      background-color: #fff;
      box-shadow: 0 1px 0px 0 rgba(0, 0, 0, .35);
    }

    .container.team:hover {
      box-shadow: 0 1px 0px 0 rgba(0, 0, 0, .35);
    }

    .team-heading-row {
        width: 100%;
        margin: 0;
    }

    .team-heading {
      width: 95%;
      padding: 0;
      text-align: center;
    }

    .team-row {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1rem;
      padding: .5rem;
      width: 100%;
    }

    .team-member {
      padding: .5rem .5rem;
    }

    .team-member-div-block {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        min-height: 280px;
      padding: .5rem;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .35);
      transition: none;
    }

    .team-member-div-block:hover {
      box-shadow: 0 1px 0px 0 rgba(0, 0, 0, .35);
    }

    .team-title-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 80px;
    }

    .team-bio {
        display: block;
        text-align: right;
      margin-top: .75rem;
      margin-bottom: 0;
      font-size: .65rem;
      letter-spacing: 1px;
    }


    /* Contact */

    .contact-section {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    .contact-div-block {
        margin-bottom: 1rem;
        max-width: 355px;
        margin-left: auto;
        margin-right: auto;
    }

    /* Footer */
    #footer {
        padding: 1rem 0 1rem 0;
    }

    .footer-row {
        text-align: center;
        width: 100%;
    }

    .footer-nav {
      text-align: center;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      font-size: .5rem;
    }

    .footer-nav ul li a:hover {
      color: #fff;
    }



}

/* Tablet and Small Screens */

@media only screen and (min-width: 768px) and (max-width: 991px) {

    /* Hero */

    .hero {
        /*background-size: center;*/
        background-position: 60%;
        background-attachment: scroll;
        background-image: -webkit-linear-gradient(270deg, rgba(1, 95, 163, .6), rgba(1, 95, 163, .6)), -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../assets/hero2.jpg');
        background-image: linear-gradient(180deg, rgba(1, 95, 163, .6), rgba(1, 95, 163, .6)), linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../assets/hero2.jpg');
        box-shadow: 0 4px 0px 0 rgba(0, 0, 0, .35);
    }

    .hero h1 {
      font-size: 3rem;
      letter-spacing: 1px;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }

    .hero p {
      font-size: 1.5rem;
      font-style: italic;
      font-weight: 600;
      letter-spacing: 1px;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }

    /* Headings */

    .emphasis-text-about {
      width: 100%;
    }

    .emphasis-text-row {
        width: 100%;
    }

    #about .section-preheading {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    #services .section-preheading {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    #services .emphasis-text {
        padding-bottom: 2rem;
    }

    /* Dividers */
    .divider-section {
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-attachment: scroll;
      box-shadow: 0 1px 0px 0 rgba(0, 0, 0, .35);
    }

    .divider-section:hover {
      box-shadow: 0 1px 0px 0 rgba(0, 0, 0, .35);
    }

    .divider-section.first-divider {
      margin-top: 0;
      padding: 2rem 0;
      background-image: -webkit-linear-gradient(270deg, rgba(1, 95, 163, .8), rgba(1, 95, 163, .8)), url('../assets/family1.jpg');
      background-image: linear-gradient(180deg, rgba(1, 95, 163, .8), rgba(1, 95, 163, .8)), url('../assets/family1.jpg');
      background-position: 0px 0px, 0px 0px;
      background-size: auto, cover;
      background-repeat: repeat, no-repeat;
      background-attachment: scroll;
      box-shadow: 0 1px 0px 0 rgba(0, 0, 0, .35);
    }

    .divider-section.second-divider {
      padding: 2rem 0;
      background-image: -webkit-linear-gradient(270deg, rgba(1, 95, 163, .8), rgba(1, 95, 163, .8)), url('../assets/ipad.jpg');
      background-image: linear-gradient(180deg, rgba(1, 95, 163, .8), rgba(1, 95, 163, .8)), url('../assets/ipad.jpg');
      background-position: 0px 0px, 0px 0px;
      background-size: auto, cover;
      background-repeat: repeat, no-repeat;
      background-attachment: scroll;
      box-shadow: 0 1px 0px 0 rgba(0, 0, 0, .35);
    }

    .divider-section.third-divider {
      padding: 2rem 0;
      background-size: cover;
      background-image: -webkit-linear-gradient(270deg, rgba(1, 95, 163, .8), rgba(1, 95, 163, .8)), url('../assets/team.jpg');
      background-image: linear-gradient(180deg, rgba(1, 95, 163, .8), rgba(1, 95, 163, .8)), url('../assets/team.jpg');
      background-position: 45%;
      background-repeat: repeat, no-repeat;
      background-attachment: scroll;
      box-shadow: 0 1px 0px 0 rgba(0, 0, 0, .35);
    }

    .divider-section.fourth {
      padding: 2rem 0;
      background-image: -webkit-linear-gradient(270deg, rgba(1, 95, 163, .8), rgba(1, 95, 163, .8)), url('../assets/retiredcar.jpeg');
      background-image: linear-gradient(180deg, rgba(1, 95, 163, .8), rgba(1, 95, 163, .8)), url('../assets/retiredcar.jpeg');
      background-position: 0px 0px, 0px 0px;
      background-size: auto, cover;
      background-repeat: repeat, no-repeat;
      background-attachment: scroll;
      box-shadow: 0 1px 0px 0 rgba(0, 0, 0, .35);
    }

    .divider-section.final-divider {
      padding: 1.5rem 0;
      background-image: -webkit-linear-gradient(270deg, rgba(1, 95, 163, .8), rgba(1, 95, 163, .8)), url('../assets/flowers2.jpg');
      background-image: linear-gradient(180deg, rgba(1, 95, 163, .8), rgba(1, 95, 163, .8)), url('../assets/flowers2.jpg');
      background-position: 40%;
      background-size: auto, cover;
      background-repeat: repeat, no-repeat;
      background-attachment: scroll;
      box-shadow: 0 1px 0px 0 rgba(0, 0, 0, .35);
    }

    .divider-section:hover {
      box-shadow: 0 1px 0px 0 rgba(0, 0, 0, .35);
    }

    .divider-heading-last {
      color: #F44A66;
    }

    /* About */

    .about-section {
        padding: 0;
        box-shadow: none;
    }

    .about-container {
        padding: 4rem 0 4rem 0;
        box-shadow: none;
        width: 100%;
    }

    /* Services */

    .services-section {
        padding: 4rem 0 4rem 0;
    }

    .services-div-block {
        margin-top: .5rem;
        padding: 0;
        min-height: 225px;
    }

    .services-div-block:hover {
      box-shadow: 0 1px 0px 0 rgba(0, 0, 0, .35);
    }

    .service-icon {
        font-size: 3rem;
    }

    .red-border-services {
      width: 3.65rem;
    }

    .services-heading {
        font-size: 1.5rem;
        width: 100%;
    }

    .technology-section {
        padding: 0;
        width: 90%;
    }

    .technology-heading {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .tech-features {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      padding: 0 0 2rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .emoney-image {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .tech-feature-h4 {
        text-align: center;
        font-size: 2rem;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    /* Process */
    .process-section {
      width: 100%;
      padding-top: 4rem;
      padding-bottom: 4rem;
      padding-left: 0;
      padding-right: 0;
      background-color: #f9f9f9;
    }

    .process-row {
        width: 80%;
      margin-bottom: 3.125rem;
      margin-left: auto;
      margin-right: auto;
      padding: 2rem 1rem;
      background-color: #fff;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .33);
      display: flex;
      flex-direction: column-reverse;;
      align-items: center;
    }

    .process-row:hover {
      box-shadow: 0 4px 7px 0 rgba(0, 0, 0, .33);
    }

    .process-content-box {
        width: 100%;
        text-align: center;
        margin-top: 2rem;
    }

    .process-row.middle {
        flex-direction: column;
    }

    .process-content-box.middle {
        width: 100%;
        text-align: center;
        margin-top: 2rem;
    }

    .process-heading {
      margin-top: 0px;
      margin-bottom: 1rem;
      color: #000;
      font-size: 30px;
      line-height: 40px;
      letter-spacing: 1px;
    }

    .process-span {
      color: rgba(1, 95, 163, .9);
    }

    .process-paragraph {
      font-size: 1.1rem;
      line-height: 33px;
      letter-spacing: 1px;
    }

    /*.process-row img {
        display: none;
    }*/

    /* Team */

    .team-section {
        width: 100%;
      padding: 0;
      background-color: #f9f9f9;
      border: none;
      transform: none;
    }

    .container.team {
        width: 100%;
      padding: 4rem  0 2rem 0;
      background-color: #fff;
      box-shadow: 0 1px 0px 0 rgba(0, 0, 0, .35);
    }

    .container.team:hover {
      box-shadow: 0 1px 0px 0 rgba(0, 0, 0, .35);
    }

    .team-heading-row {
        width: 100%;
        margin: 0;
    }

    .team-heading {
      width: 95%;
      padding: 0;
      text-align: center;
    }

    .team-row {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1rem;
      padding: 0 1rem;
      width: 100%;
    }

    .team-member {
      padding: .5rem;
    }

    .team-member-div-block {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        min-height: 280px;
      padding: .5rem;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .35);
      transition: none;
    }

    .team-member-div-block:hover {
      box-shadow: 0 1px 0px 0 rgba(0, 0, 0, .35);
    }

    .team-title-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 80px;
    }

    .team-bio {
        display: block;
        text-align: right;
      margin-top: .75rem;
      margin-bottom: 0;
      font-size: .65rem;
      letter-spacing: 1px;
    }

    /* Contact */

    .contact-section {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    .contact-wrapper {
        margin-top: 1.5rem;
    }

    .contact-div-block {
        margin-bottom: 1rem;
        max-width: 355px;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
    }

    .contact-heading {
      padding-top: 0;
      font-size: 1.25rem;
      font-weight: bolder;
      text-align: center;
      letter-spacing: 2px;
      color: #015FA3;
    }

    .red-border-small {
      margin-bottom: 1rem;
    }

    #contact .fa {
      padding-bottom: 1rem;
      padding-right: .75rem;
      font-size: 1.5rem;
      color: #015FA3;
    }

    #contact a {
      text-decoration: none;
      color: #333;
    }

    #contact .fa:hover {
      color: #F44A66;
    }

    .contact-div-block p {
      width: 100%;
      font-size: .75rem;
      font-weight: bold;
      margin-right: auto;
      margin-left: auto;
      padding-bottom: .5rem;
      margin-bottom: 0;
    }

    .fa-phone, .fa-map-marker {
      color: #015FA3;
    }

    .contact-div-block a {
      color: #333;
      text-decoration: none;
    }

    .contact-div-block a:hover {
      color: #F44A66;
    }

    .city-image {
      padding: 0 0 1rem 0;
    }

    .city-image img {
      height: 125px;
    }

    /* Footer */
    #footer {
        padding: 1rem 0 1rem 0;
    }

    .footer-row {
        text-align: center;
        width: 90%;
    }

    .footer-nav {
      text-align: center;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      font-size: .5rem;
    }

    .footer-nav ul li a:hover {
      color: #fff;
    }

}
